:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  > *:not(.sam-text-header) {
    margin-left: var(--size);
    margin-right: var(--size);
  }

  .back-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;

    &:hover {
      background: var(--muted);
    }
  }

  .sam-text-header {
    width: 100%;
  }
}
