@use "sass:meta";

@include meta.load-css("../../../node_modules/bootstrap/scss/bootstrap");
@include meta.load-css(
  "../../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css"
);

// Load the common styles
@include meta.load-css("../../common/src/lib/styles/styles.scss");

body {
  height: 600px;
  width: 375px;

  color: var(--foreground);
  font-family: var(--font-sans);
  font-size: 16px;
  background: var(--background);

  margin: 0;
}

// Button styling to match market
button {
  text-transform: uppercase;
  font-family: var(--font-sans);
}
