:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;

  .logo-frame {
    border: 2px solid var(--secondary);
    border-radius: 100%;
  }

  .content-login-vault {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0 var(--size) var(--size) var(--size);
  }
}
