:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: var(--size);
  overflow-y: auto;

  > *:not(.sam-text-header) {
    margin-left: var(--size);
    margin-right: var(--size);
  }

  .file-input {
    position: absolute;
    visibility: hidden;
  }
}
