<div class="tab-content">
  <router-outlet></router-outlet>
</div>

<div class="tabs">
  <a
    class="tab"
    routerLink="/home/identity"
    routerLinkActive="active"
    title="Your selected identity"
  >
    <span class="emoji">👤</span>
  </a>

  <a
    class="tab"
    routerLink="/home/identities"
    routerLinkActive="active"
    title="Identities"
  >
    <span class="emoji">👥</span>
  </a>

  <a
    class="tab"
    routerLink="/home/settings"
    routerLinkActive="active"
    title="Settings"
  >
    <span class="emoji">⚙️</span>
  </a>

  <a class="tab" routerLink="/home/bookmarks" routerLinkActive="active" title="Bookmarks">
    <span class="emoji">🔖</span>
  </a>

  <a class="tab" routerLink="/home/logs" routerLinkActive="active" title="Logs">
    <span class="emoji">🪵</span>
  </a>

  <a class="tab" routerLink="/home/info" routerLinkActive="active" title="Info">
    <span class="emoji">💡</span>
  </a>

  <button class="tab" (click)="onClickLock()" title="Lock">
    <span class="emoji">🔒</span>
  </button>
</div>
