:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  .tab-content {
    height: calc(100% - 48px);
  }

  .tabs {
    height: 48px;
    min-height: 48px;
    background: var(--background-light);
    display: flex;
    flex-direction: row;

    a, button {
      all: unset;
    }

    .tab {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      color: var(--muted-foreground);
      border-top: 2px solid transparent;
      transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;

      cursor: pointer;

      .emoji {
        font-size: 20px;
      }

      &:hover {
        background: var(--background-light-hover);
        color: var(--foreground);
      }

      &.active {
        color: var(--foreground);
        border-top: 2px solid var(--primary);
      }
    }
  }
}
