:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: var(--size);
  padding-bottom: var(--size);
  overflow: hidden;

  > *:not(.sam-text-header) {
    margin-left: var(--size);
    margin-right: var(--size);
  }

  .sam-text-header {
    margin-bottom: var(--size);
    flex-shrink: 0;
  }
}

.wallet-container {
  flex: 1;
  overflow-y: auto;
}

.empty-state {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--muted-foreground);
}
